# Reshaping Pandas data with stack, unstack, pivot and melt

Sometimes data is best shaped where the data is in the form of a wide table where the decription is in a column header, and sometimes it is best shaped as as having the data descriptor as a variable within a tall table. Lets look at some examples, begining as usual with creating a dataframe.

In [13]:
import pandas as pd
df = pd.DataFrame()

names = ['Gandolf',
         'Gimli',
         'Frodo',
         'Legolas',
         'Bilbo',
         'Sam',
         'Pippin',
         'Boromir',
         'Aragorn',
         'Galadriel',
         'Meriadoc']
types = ['Wizard',
         'Dwarf',
         'Hobbit',
         'Elf',
         'Hobbit',
         'Hobbit',
         'Hobbit',
         'Man',
         'Man',
         'Elf',
         'Hobbit']
magic = [10, 1, 4, 6, 4, 2, 0, 0, 2, 9, 0]
aggression = [7, 10, 2, 5, 1, 6, 3, 8, 7, 2, 4]
stealth = [8, 2, 5, 10, 5, 4 ,5, 3, 9, 10, 6]


df['names'] = names
df['type'] = types
df['magic_power'] = magic
df['aggression'] = aggression
df['stealth'] = stealth

When we look at this table, the data descriptors are columns, and the data table is 'wide'.

In [14]:
print (df)

        names    type  magic_power  aggression  stealth
0     Gandolf  Wizard           10           7        8
1       Gimli   Dwarf            1          10        2
2       Frodo  Hobbit            4           2        5
3     Legolas     Elf            6           5       10
4       Bilbo  Hobbit            4           1        5
5         Sam  Hobbit            2           6        4
6      Pippin  Hobbit            0           3        5
7     Boromir     Man            0           8        3
8     Aragorn     Man            2           7        9
9   Galadriel     Elf            9           2       10
10   Meriadoc  Hobbit            0           4        6

## Stack and unstack

We can convert between the two formats of data with <em>stack</em> and <em>unstack</em>. To convert from a wide table to a tall and skinny, use <em>stack</em>:

In [15]:
df_stacked = df.stack()
print(df_stacked)

0   names            Gandolf
    type              Wizard
    magic_power           10
    aggression             7
    stealth                8
1   names              Gimli
    type               Dwarf
    magic_power            1
    aggression            10
    stealth                2
2   names              Frodo
    type              Hobbit
    magic_power            4
    aggression             2
    stealth                5
3   names            Legolas
    type                 Elf
    magic_power            6
    aggression             5
    stealth               10
4   names              Bilbo
    type              Hobbit
    magic_power            4
    aggression             1
    stealth                5
5   names                Sam
    type              Hobbit
    magic_power            2
    aggression             6
    stealth                4
6   names             Pippin
    type              Hobbit
    magic_power            0
    aggression             3
    stealth                5
7   names            Boromir
    type                 Man
    magic_power            0
    aggression             8
    stealth                3
8   names            Aragorn
    type                 Man
    magic_power            2
    aggression             7
    stealth                9
9   names          Galadriel
    type                 Elf
    magic_power            9
    aggression             2
    stealth               10
10  names           Meriadoc
    type              Hobbit
    magic_power            0
    aggression             4
    stealth                6
dtype: object

We can convert back to  wide table with <em>unstack</em>.

In [16]:
df_unstacked = df_stacked.unstack()
print (df_unstacked)

        names    type magic_power aggression stealth
0     Gandolf  Wizard          10          7       8
1       Gimli   Dwarf           1         10       2
2       Frodo  Hobbit           4          2       5
3     Legolas     Elf           6          5      10
4       Bilbo  Hobbit           4          1       5
5         Sam  Hobbit           2          6       4
6      Pippin  Hobbit           0          3       5
7     Boromir     Man           0          8       3
8     Aragorn     Man           2          7       9
9   Galadriel     Elf           9          2      10
10   Meriadoc  Hobbit           0          4       6

## Melt and pivot

In [28]:
unpivoted = df.melt(value_vars=['names','type','magic_power'])
print (unpivoted)

       variable      value
0         names    Gandolf
1         names      Gimli
2         names      Frodo
3         names    Legolas
4         names      Bilbo
5         names        Sam
6         names     Pippin
7         names    Boromir
8         names    Aragorn
9         names  Galadriel
10        names   Meriadoc
11         type     Wizard
12         type      Dwarf
13         type     Hobbit
14         type        Elf
15         type     Hobbit
16         type     Hobbit
17         type     Hobbit
18         type        Man
19         type        Man
20         type        Elf
21         type     Hobbit
22  magic_power         10
23  magic_power          1
24  magic_power          4
25  magic_power          6
26  magic_power          4
27  magic_power          2
28  magic_power          0
29  magic_power          0
30  magic_power          2
31  magic_power          9
32  magic_power          0

Or we could use one of the fields, such as 'names' as a new index

In [31]:
unpivoted = df.melt(id_vars=['names'], value_vars=['type','magic_power'])
print (unpivoted)

        names     variable   value
0     Gandolf         type  Wizard
1       Gimli         type   Dwarf
2       Frodo         type  Hobbit
3     Legolas         type     Elf
4       Bilbo         type  Hobbit
5         Sam         type  Hobbit
6      Pippin         type  Hobbit
7     Boromir         type     Man
8     Aragorn         type     Man
9   Galadriel         type     Elf
10   Meriadoc         type  Hobbit
11    Gandolf  magic_power      10
12      Gimli  magic_power       1
13      Frodo  magic_power       4
14    Legolas  magic_power       6
15      Bilbo  magic_power       4
16        Sam  magic_power       2
17     Pippin  magic_power       0
18    Boromir  magic_power       0
19    Aragorn  magic_power       2
20  Galadriel  magic_power       9
21   Meriadoc  magic_power       0